<!-- <span class="border"></span> -->
<div class="container-box project">
    <!-- <ul>
        <li *ngFor="let item of items" [ngClass]="item.id == currId ? 'active' : ''">
            <div class="item-box">
                <img [src]="item.image">
                <p class="contents">{{item.contents}}</p>
            </div>
        </li>
    </ul> -->

    <swiper-container slides-per-view="1" pagination="true" class="swiper-container">
        <swiper-slide *ngFor="let item of items" class="project-item">
            <div class="item-box">
                <img [src]="item.image">
                <p class="contents" [innerHTML]="item.contents"></p>
            </div>
        </swiper-slide>
    </swiper-container>
</div>
<!-- <span class="border bottom"></span> -->