// font
$base-font: 'GmarketSansMedium';
$thin-font: 'GmarketSansLight';
$bold-font: 'GmarketSansBold';

$defulat-size: 24px;
$large-size: 36px;
$small-size: 16px;

//color
$accent-color: #C62E2E;
$accent2-color: #1A120B;
$primary-color: #1E1E1E;
$primary2-color: #F4CE14;