<div #scrollContainer class="container-box exp">
    <!--  [@toggleView]="isShowMe ? 'hidden' : 'visible'" -->
    <div class="exp-wrap">
        <div *ngFor="let type of [ 'work', 'study']" class="item-wrap">
            <div class="exp-item-box" *ngFor="let item of experienceList[type]">
                <img class="exp-img" *ngIf="type == 'study'" src="assets/images/ic_study.svg" alt="">
                <img class="exp-img" *ngIf="type == 'work'" src="assets/images/ic_company.svg" alt="">
                <div class="exp-contents">
                    <p class="date"> <b>{{item.companyName}}</b> <span>{{ item.date }}</span></p>
                    <p class="title">{{ item.title }}</p>
                    <ul *ngIf="item.project?.length">
                        <li *ngFor="let project of item.project"
                            [ngClass]="project.id && project.id.length > 0 ? 'active' : ''"
                            (click)="onClickProject(project)">
                            <strong><span *ngIf="type == 'work'">📍</span> {{ project.name }}
                                <img *ngIf="project.id && project.id.length > 0" src="assets/images/ic_pointer.png"
                                    alt=""></strong>
                            <p class="desc">{{ project.contents }}</p>
                            <p *ngIf="item.result" class="exp-result">💡 {{ item.result }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>