@use '../../../variable';

.exp {
    & .exp-box {
        display: flex;

        .exp-img {
            width: 36px;
            height: 36px;
            background: variable.$primary2-color;
            border-radius: 50%;
            padding: 6px;
        }

        .exp-contents {
            margin: 0 0 0 8px;
            font-size: variable.$small-size;

            .date {
                line-height: 1.2rem;
            }

            .title {
                font-size: variable.$small-size + 2px;
                font-weight: bold;
            }

            .date,
            .title,
            .desc {
                margin: 6px 0;
            }

            // .desc {}
        }
    }
}