@use '../../../variable';

.exp {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

    .exp-wrap {
        display: flex;
    }

    .item-wrap {
        flex: 1;

        & .exp-item-box {
            display: flex;

            .exp-img {
                width: 36px;
                height: 36px;
                background: variable.$primary2-color;
                border-radius: 50%;
                padding: 6px;
            }

            .exp-contents {
                margin: 0 0 0 8px;
                font-size: variable.$small-size;

                .date {
                    line-height: 1.2rem;

                    span {
                        font-size: variable.$small-size - 2px;
                        margin: 0 0 0 4px;
                    }
                }

                .title {
                    font-size: variable.$small-size + 2px;
                    font-weight: bold;
                }

                .date,
                .title,
                .desc {
                    margin: 6px 0;
                }

                .active {
                    cursor: pointer;

                    strong {
                        position: relative;
                    }

                    img {
                        width: 32px;
                        position: absolute;
                        top: -14px;
                        right: -20px;
                    }

                    &:hover {
                        opacity: .5;
                    }
                }

                & .exp-result {
                    background: variable.$accent2-color;
                    color: white;
                    padding: 4px;
                    font-family: variable.$thin-font;
                    border-radius: 5px;
                }
            }
        }
    }
}

// 최대 576px
@media (max-width: 576px) {
    .exp {
        .exp-wrap {
            height: 100%;
            display: block;
        }
    }
}